h1 welcome to my book store
a(href="/books") Show list books
br
br
a(href="/books/search") search a book you want
br
br
a(href="/books/create") Creat a book you want
br
br
a(href="/books") Delete a book you want
br
br
