h2 Thêm users
form(action="/users/add", method="POST")
  label Tên 
  input(type="text", name="nameAdd")
  br
  label age
  input(type="text", name="ageAdd")
  br
  button Add

a(href="/users") Go back