h1 Create name for book
a(href="/books") back to see list books
form(action="/books/create", method="POST")
  lable Name
  input(type="text",name="name")
  
  lable Description
  input(type="text",name="description")
  
  button Create